{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'logo.png' %}?v=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ request.build_absolute_uri }}static/login.css">
<body>
    <title>SINC Inicio Sesión</title>
    <div class="login-container">
        <h1>Bienvenido a SINC</h1>
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <input name = "username" placeholder="Nombre de usuario">
            <input name = "password" type="password" placeholder="Contraseña"> 
            <input type="submit" value="Ingresar">
        </form>
        <p>¿No tienes una cuenta? <a href="/register">Regístrate aquí</a></p>
    </div>

</body>
</html>
