<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SINC Registro</title>
    <title>Registro de Usuario</title>
    <style>
    
    </style>
</head>
<body>

    <div class="register-container">
        <h1>Bienvenido a SINC</h1>
        <h2>Registro de Usuario</h2>
        <form action="#" method="post">
            <input placeholder="Nombre">
            <input placeholder="Nombre de usuario">
            <input type="email" placeholder="Correo electrónico">
            <input type="password" placeholder="Contraseña">
            <p class="form-hint">Debe contener mínimo 7 caracteres, 1 mayúscula, 1 número y 1 símbolo.</p>
            <input type="submit" value="Crear cuenta">
        </form>
        <p>¿Ya tienes una cuenta? <a href="#">Inicia sesión</a></p>
    </div>

</body>
</html>
