# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules

# Ignora los archivos relacionados a API keys
.env

# Ignora los archivos caché
*.pyc

# Ignora la Base de Datos
db.sqlite3

# Ignora archivos config
*.cfg
